<!-- <div class="dropdown inner">
    <select name="countries" id="countries-dropdown">
        {{#countryCodes}}
        <option value="{{1}}">{{0}}</option>
        {{/countryCodes}}
    </select>
</div> -->
<div class="breaker top-breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>

    <div class="leaderboardTop"></div>



    <div class="interactive-ad-banner block">
        <div class="ad-wrapper--desktop hide-until-tablet">
            <div id="dfp-ad--inline0"
                 class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop"
                 data-link-name="ad slot banner"
                 data-name="banner"
                 data-tablet="1,1|2,2|728,90"
                 data-desktop="1,1|2,2|88,70|728,90|940,230|900,250"></div>
        </div>

        <div class="ad-wrapper--mobile mobile-only">
            <div id="dfp-ad--inline0Mobile"
                 class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline0"
                 data-link-name="ad slot inline0Mobile"
                 data-name="inline0Mobile"
                 data-mobile="1,1|2,2|300,250|fluid"></div>
        </div>
    </div>

    <div class="leaderboardBottom"></div>




<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>


<div class='block pye-info-block' data-title="About the Games">

    <div class='spacer'></div>

    <p>{{{about}}}</p>

<div class="image-credits">Picture credits: Getty images, AFP, EPA and PA.</div>
</div>

<div class="breaker"></div>
